<div class="auth">
    <h2>{{(hasAccount ? 'Авторизация': 'Регистрация') | uppercase}} </h2>
    
    <form class="form">
        <mat-form-field *ngIf="!hasAccount" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput *ngIf="!hasAccount" name="name" [(ngModel)]="userData.name" type="text" placeholder="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]="userData.email" type="email" placeholder="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput name="password" [(ngModel)]="userData.password" type="text" placeholder="password">
        </mat-form-field>
        
        <button mat-stroked-button color="primary" *ngIf="!hasAccount" (click)="registration()"  type="button">Зарегистрироваться</button>
        <button mat-stroked-button color="primary" *ngIf="hasAccount" (click)="login()"  type="button">Войти</button>
        <button mat-stroked-button color="primary" class="button_auth" (click)="this.hasAccount = !hasAccount"  type="button">{{!hasAccount ? 'Уже есть аккаунт' : 'Вернуться к регистрации'}}</button>
    </form>
    
</div>