.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3aff3;
    padding: 20px;
    margin-bottom: 20px;

    h2{
        margin: 0;
    }
}

.logo{
    font-size: 24px;
}
.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    &__name{
        margin-right: 20px;
    }
}