.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 700px;

    &_auth{
        justify-content: center;
    }
}

.aside{
    width: 40%;
    margin-right: 20px;
}
.chat{
    width: 60%;
}
